table {
  margin: auto;
  margin-top: 40px;
  font-size: x-large;
}


td {
  padding: 10px;
  text-align: right;

}

th {
  padding: 10px;
  background-color: white;
}

td:nth-child(1) {
  font-weight: bold;
  background-color: rgb(199, 237, 255);
  padding-left: 0px;
}

tr:hover {
  background-color: #ffff06!important;
} 
                   

.fa-euro-sign {
  color: orange;
  margin-right: 15px;
  font-size: 30px;
}

.fa-dollar-sign {
  color: rgb(96, 143, 93);
  margin-right: 30px;
  font-size: 30px;
}

.fa-lira-sign {
  color: rgb(80, 106, 177);
  margin-right: 16px;
  font-size: 30px;
}

.fa-yen-sign{
  color: rgb(96, 143, 93);
  margin-right: 42px;
  font-size: 30px;
}

tr:nth-child(odd) {
  background-color: #ffffbd;
} 
.hover:hover {
  background-color: #ffff06
}
